node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
/.vs/of.owncircles.com/CopilotIndices/17.14.1530.14912
/.vs/of.owncircles.com/FileContentIndex
/.vs/of.owncircles.com/v17/DocumentLayout.backup.json
/.vs
